body {
    border: 5px solid black;
    padding: 25px;
    background: url(/img/bg-ukr-resume.png);
    font-family: "Noto Sans", sans-serif;
}

header {
    display: flex;
    border-bottom: 5px solid black;
}

address {
    padding-top: 20px;
}

header a {
    text-decoration: none;
}

figure>img {
    border: 2px solid grey;
}

.contacts {
    margin-top: 25px;
}

h2 {
    text-align: center;
    padding: 100px 0 20px 0;
    border-bottom: 2px solid grey;
}

span {
    display: block;
    text-align: center;
    padding-top: 25px;
}

blockquote {
    padding-top: 25px;
}

.links img {
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
}

.links img:hover {
    transform: scale(1.3);
}

.links {
    text-align: center;
}